<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
    {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
    <span class="flash-close">×</span>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<h2>
    <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='img/limbo_run.gif') }}">
    {{ user.name }}'s Watchlist
</h2>
<nav>
    <ul>
        <li><a href="{{ url_for('index_bp.index') }}">Home</a></li>
    </ul>
</nav>
{% block content %}{% endblock %}
<footer>
    <small>&copy; {{ author_name }} <a href="https://github.com/hacker0limbo/watchlist">Watch List</a></small>
</footer>

<script src="{{ url_for('static', filename='index.js')}}"></script>
</body>
</html>
