<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ author_name_en }}'s Watchlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
    {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
    <span class="flash-close">×</span>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<h2>
    <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='img/limbo_run.gif') }}">
    {{ author_name_en }}'s Watchlist

    {% if current_user.is_authenticated %}
    <span class="float-right">
        <img
                src="{{ url_for('static', filename='img/uploads/') }}{{ current_user.avatar }}"
                width="50"
        />
        <span style="color: #007bff;">{{ current_user.username }}</span>
    </span>
    {% endif %}

</h2>
<nav>
    <ul>
        <li><a href="{{ url_for('index_bp.index') }}">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('settings_bp.index') }}">Settings</a></li>
        <li><a href="{{ url_for('index_bp.logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('index_bp.login') }}">Login</a></li>
        <li><a href="{{ url_for('index_bp.signup') }}">Signup</a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}{% endblock %}
<footer>
    <small>&copy; {{ author_name_zh }} <a href="https://github.com/hacker0limbo/watchlist">Watch List</a></small>
</footer>

<script src="{{ url_for('static', filename='index.js')}}"></script>
</body>
</html>
