{% extends 'base.html' %}

{% block content %}
<h3>Settings</h3>
<hr/>
<h4 style="text-align: center">You can update your personal information here</h4>
<form method="post" action="/settings" style="text-align: center">
    New password: <input type="password" name="new-password" autocomplete="off" required value=""><br/><br/>
    Confirmation: <input type="password" name="password-confirm" autocomplete="off" required value=""><br/><br/>
    <input class="btn btn-primary" type="submit" name="submit" value="Update">
</form>
{% endblock %}
